header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
}

header h1 {
    color: var(--color-text);
    margin-left: 50px;
    font-size: 24px;
}

header nav.nav-desk {
    margin-right: 80px;
    width: 200px;
}

header nav.nav-desk ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav.nav-desk ul li {
    font-size: 18px;
    padding: 0 4%;
    border-bottom: 1px solid transparent;
}

header nav.nav-desk ul li:hover {
    border-bottom: 2px solid var(--color-primary-hover);
}

header nav.nav-desk ul li a {
    color: var(--color-text-secondary);
    text-decoration: none;
}

header nav.nav-mob {
    width: 50%;
    height: 200px;
    margin-top: 102px;
    display: none;
    justify-content: center;
    align-items: center;
}

header .icon {
    font-size: 28px;
    color: var(--color-text-secondary);
    cursor: pointer;
    z-index: 2;
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
}

header nav.nav-mob ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    align-items: center;
    gap: 20px;
    background-color: var(--color-surface);
    transform: translateY(-200px);
    transition: 0.8s ease;
}

header nav.nav-mob ul:hover {
    transition: 0.8s ease;
    box-shadow: -8px 8px 19px 4px rgba(1,56,84,0.8);
    -webkit-box-shadow: -8px 8px 19px 4px rgba(1,56,84,0.8);
    -moz-box-shadow: -8px 8px 19px 4px rgba(1,56,84,0.8);
}

header nav.nav-mob ul.active {
    transform: translateY(0);
}

header nav.nav-mob ul h1 {
    color: var(--color-primary);
    font-size: 24px;
    position: relative;
    right: 39%;
    top: 10%;
}

header nav.nav-mob ul li {
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

header nav.nav-mob ul li:hover {
    border-bottom: 2px solid var(--color-primary-hover);
}

header nav.nav-mob ul li a {
    color: var(--color-text-secondary);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header nav.nav-desk {
        display: none;
    }
    header .icon {
        display: flex;
    }
    header nav.nav-mob {
        display: flex;
    }
}