section.work-section {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

section div.info-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1%;
}

section div.info-projects h1 {
    font-size: 36px;
    color: var(--color-text);
}

section div.info-projects p {
    font-size: 18px;
    color: var(--color-text-secondary);
}

section div.info-projects button {
    width: 125px;
    height: 40px;
    color: var(--color-text-secondary);
    background-color: transparent;
    border: 1px solid var(--color-surface);
    transition: background-color 0.8s ease, color 1s ease, border 0.8s ease;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

section div.info-projects button:hover {
    border: 1px solid white;
    color: white;
}

section div.projects {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    align-items: center;
    justify-content: center;
}

section div.projects .project-single {
    width: 22.2%;
    height: 130px;
    cursor: pointer;
    background-color: rgba(15, 23, 42, 0.7);
    border: 2px solid transparent;
    border-radius: 12px;
    transition: 0.8s ease;
}

section div.projects .project-single:hover {
    box-shadow: 0px 0px 17px 5px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0px 0px 17px 5px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 17px 5px rgba(255,255,255,0.4);
    border-radius: 12px;
    background-color: rgba(15, 23, 42, 1);
}

@media screen and (max-width: 980px) {
    section.work-section .info-projects {
        align-items: center;
        width: 35%;
        text-align: center;
    }
    section.work-section .info-projects h1 {
        font-size: 28px;
    }
    section.work-section .info-projects p {
        font-size: 14px;
    }
    section.work-section .projects .project-single {
        width: 45%;
    }
    section.work-section .projects .project-single:nth-child(n+5) {
        display: none;
    }
}