:root {
  /* Base */
  --color-bg: #0F172A;
  --color-bg-surface: #1E293B;
  --color-surface: #1E293B;

  /* Texto */
  --color-text: #F8FAFC;
  --color-text-secondary: #94A3B8;

  /* Destaque */
  --color-primary: #119ad4;
  --color-primary-hover: #0EA5E9;

  /* Extras */
  --color-border: #334155;
  --color-success: #22C55E;
  --color-error: #EF4444;
}

.light {
  /* Base */
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;

  /* Texto */
  --color-text: #0F172A;
  --color-text-secondary: #64748B;

  /* Destaque */
  --color-primary: #0EA5E9;
  --color-primary-hover: #0284C7;

  /* Extras */
  --color-border: #E2E8F0;
  --color-success: #16A34A;
  --color-error: #DC2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-image: url("./assets/background-job.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}