:root {
  --bg-color-primary: #d6d6d6;
  --bg-color-dark-mode: #0d0d0d; 
  --color-text-main : #504eff;
  --color-text-secondary: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-primary);
}